<h1>Welcome, <%= @user.username %>!</h1>

<p>
  Thank you for signing up, look forward to exciting events and articles to come.
</p>

<p>
  Company Name
  <br>
  Company Address
  <br>
  <br>
  <%= link_to "Unsubscribe", "#" %>
</p>
